name: "playdelaybluelay-blog"
description: "cloud tech blog"

url: 'https://playdelaybluelay-stack.github.io' 
baseurl: '/playdelaybluelay-stack.github.io'

markdown: kramdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge

plugins:
  - jekyll-paginate
paginate: 10
paginate_path: /page-:num

# 댓글 기능 활성화 가능
#disqus-id: your-disqus-id

source: .
destination: ./_site

sass:
    style: :compressed
    sass_dir: assets/css/

